body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

#controls {
  position: absolute;
  left: 10px;
  top: 10;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

#controls li {
  padding: 5px;
}